.My_Form{
  text-align: center;
  background-color: #e7e7fd;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 50px;
}

.App_add_par{
  text-align: center;
  background-color: #e7e7fd;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
}

.add_pr{
  text-align: -webkit-center;
}

.button_table{
  display: flex;
}

.Add_editted_button{
  height: 25px;
    width: 50px;
    margin-top: 50px;
    margin-left: -10px;
    border: 5px solid #D8D8D8;
    border-radius: 26px;
    background-color: black;
    color: white;
}

table, th, td {
  border: 1px solid black;
}

.table_add_pr{
text-align: center;
margin:20px;
}

.listinputs {
  text-align: left;
}

.listrows{
  margin-bottom: 10px;
}

.text_field_class{
  margin: 10px;
}

.App {
  text-align: center;
}

.submitbutton{
  border: 5px solid #D8D8D8;
  border-radius: 26px;
  background-color: black;
  color: white;
  margin: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}